/* navbar */

#navbar .container {
    flex-direction: column;
}
#navbar .container h1 {
    padding: 10px 0;
}

/* home */
/* titolo */

#titolo .container h1 {
    font-size: 2.5rem;
    padding: 1rem 10px;
    text-align: center;
}

#titolo .container sub {
    padding: 1rem 10px;
}

#hide5 {
    position: absolute;
    left: -9999px;
}

/* story time */

#story_time .container .img_home {
    width: 100%;
}

#story_time .container .story_title {
    width: 100%;
    padding-top: 25px;
}

/* chi siamo */

#descrizioni .descrizione .paolo img {
    padding-right: 10px;
}

#descrizioni .descrizione .eddy img {
    padding-right: 10px;
}

#descrizioni .descrizione .fada img {
    padding-right: 10px;
}

#descrizioni .descrizione .gio img {
    padding-right: 10px;
}

#descrizioni .descrizione .mario img {
    padding-right: 10px;
}

#descrizioni .descrizione .vio img {
    padding-right: 10px;
}

#descrizioni .descrizione .bono img {
    padding-right: 10px;
}

#descrizioni .descrizione .simo img {
    padding-right: 10px;
}

/* gallery */

#intestazione .titolo h2 {
    text-align: justify;
}

#img_gallery {
    padding-left: 10px;
}

/* working progress */

div#verticale {
    width: 400px;
    padding-left: 5px;
    height: 400px;
    top: 50%;
    left: 50%;
    padding-top: 400px;
}