#navbar .container {
    flex-direction: column;
}
#navbar .container h1 {
    padding: 10px 0;
}

#descrizioni .descrizione .paolo img {
    padding-right: 10px;
}

#descrizioni .descrizione .eddy img {
    padding-right: 10px;
}

#descrizioni .descrizione .fada img {
    padding-right: 10px;
}

#descrizioni .descrizione .gio img {
    padding-right: 10px;
}

#descrizioni .descrizione .mario img {
    padding-right: 10px;
}

#descrizioni .descrizione .vio img {
    padding-right: 10px;
}

#descrizioni .descrizione .bono img {
    padding-right: 10px;
}

#descrizioni .descrizione .simo img {
    padding-right: 10px;
}

#intestazione .titolo h2 {
    text-align: justify;
}