* {
    margin: 0px;
    padding: 0px;
}

html, body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display:flex;
    min-height:100vh;
    flex-direction:column;
    background: #333;
}

a {
    text-decoration: none;
    color: #000;
}

/* Utility */

#tornasu {
    position: fixed;
    bottom: 0px;
    right: 0px;
    display: none;
    padding:10px;
}

.both {
    clear: both;
}

/* Header */

#navbar {
    background: #2F67FF;
}

#navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navbar .container ul {
    display: flex;
    padding-right: 1rem;
}

#navbar .container ul li {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar .container ul li a {
    padding: 20px;
    display: block;
}

#navbar .container h1 {
    text-transform: uppercase;
    padding-left: 1.5rem;
    color: transparent;
    background: #2F67FF;
    text-shadow: -4px 4px rgba(179,179,179,.4), -3px 3px rgba(153,153,153,.2), -2px 2px rgba(179,179,179,.2), -1px 1px rgba(179,179,179,.2), 0px 0px rgba(128,128,128,.5), 1px -1px rgba(77,77,77,.6), 2px -2px rgba(77,77,77,.7), 3px -3px rgba(82,82,82,.8), 4px -4px rgba(77,77,77,.9), 5px -5px rgba(77,77,77,1);
}

#navbar ul li a:hover,
#navbar ul li:hover,
#navbar ul li a.current,
#navbar ul li.current {
    background: #121212;
    color: #ff0101;
}

/* home */
/* titolo */

#titolo .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    /* background: url(../img/gallery/83.jpg) no-repeat center center/cover; */
}

#titolo .container h1 {
    font-size: 2.5rem;
    padding-bottom: 2rem;
    /* opacity: 0.7; */
}

#titolo .container sub {
    font-size: 1rem;
    color: #f5f5f5;
}

#hide1{
    -webkit-animation: 3s ease 0s normal forwards 1 fadein;
    animation: 3s ease 0s normal forwards 1 fadein;
}

#hide2{
    -webkit-animation: 4s ease 0s normal forwards 1 fadein;
    animation: 4s ease 0s normal forwards 1 fadein;
}

#hide3{
    -webkit-animation: 5s ease 0s normal forwards 1 fadein;
    animation: 5s ease 0s normal forwards 1 fadein;
}

#hide4{
    -webkit-animation: 6s ease 0s normal forwards 1 fadein;
    animation: 6s ease 0s normal forwards 1 fadein;
}

#hide5 {
    -webkit-animation: 7s ease 0s normal forwards 1 fadein;
    animation: 7s ease 0s normal forwards 1 fadein;
}

#hide5 {
    -webkit-animation: 8s ease 0s normal forwards 1 fadein;
    animation: 8s ease 0s normal forwards 1 fadein;
}

#hide6 {
    -webkit-animation: 9s ease 0s normal forwards 1 fadein;
    animation: 9s ease 0s normal forwards 1 fadein;
}

@keyframes fadein{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes fadein{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}

.color_p {
    color: #00ff00;
}

.color_e {
    color: #a70000;
}

.color_f {
    color: #ffee00;
}

.color_g {
    color: #00ffaa;
}

.color_m {
    color: #6cceff;
}

.color_v {
    color: #800080;
}

.color_b {
    color: #0000ff;
}

.color_s {
    color: #ffa500;
}

/* story time */

.box {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#story_time .container .img_home {
    background: url(../img/gallery/68.jpg) no-repeat center center/cover;
    height: 500px;
    float: left;
    width: 50%;
}

#story_time .container .story_title {
    width: 50%;
    float: left;
}

.story_title h1 {
    color: #ae00ff;
    padding-bottom: 1rem;
    text-align: center;
}

.story_title p {
    color: #f5f5f5;
    padding: 0 1rem;
    text-align: justify;
    font-size: 12pt;
    
}

/* chi siamo */
/* descizioni */

#descrizioni {
    height: 500px;
    background: linear-gradient(#e66465, #9198e5);
    /* background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
                linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
                linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%); */
}

#descrizioni .descrizione {
    padding: 1.5rem;
    margin-bottom: 3rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#descrizioni h2 {
    color: #000000;
    text-align: center;
    font-size: 2.5rem;
    padding: 1.5rem;
}

#descrizioni img {
    width: 100px;
    height: 50%;
    border-radius: 50%;
}

#descrizioni p {
    align-items: center;
    width: 80%;
}

#descrizioni .paolo {
    background: #00ff00;
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 1.5rem;
    justify-content: space-around;
    border-radius: 5px;
}

#descrizioni .eddy {
    background: #a70000;
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 1.5rem;
    justify-content: space-around;
    border-radius: 5px;
}

#descrizioni .fada {
    background: #ffee00;
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 1.5rem;
    justify-content: space-around;
    border-radius: 5px;
}

/* #descrizioni .francesco_g {
    background: #00ff00;
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 1.5rem;
    justify-content: space-around;
    border-radius: 5px;
} */

#descrizioni .gio {
    background: #00ffaa;
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 1.5rem;
    justify-content: space-around;
    border-radius: 5px;
}

#descrizioni .mario {
    background: #6cceff;
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 1.5rem;
    justify-content: space-around;
    border-radius: 5px;
}

#descrizioni .vio {
    background: #800080;
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 1.5rem;
    justify-content: space-around;
    border-radius: 5px;
}

#descrizioni .bono {
    background: #0000ff;
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 1.5rem;
    justify-content: space-around;
    border-radius: 5px;
}

#descrizioni .simo {
    background: #ffa500;
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 1.5rem;
    justify-content: space-around;
    border-radius: 5px;
}

.link_insta:link {
    color: #ff0000;
}

.link_insta:hover {
    color: #ffffff;
}

/* avventure */

#avventure {
    background: silver;
}

#avventure h2 {
    margin: 1rem 2.5rem;
}

.avventure p {
    margin-left: 1.5rem;
}

#introduzione {
    font-size: 1.2rem;
    margin: 1.5rem 1.2rem;
}

#avventure .indice {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#avventure .indice menu {
    display: flex;
    padding-right: 2rem;
}

#avventure .indice menu li {
    list-style: none;
}

#avventure .indice menu li a {
    padding: 20px;
    display: block;
}

/* gallery */

.titolo h2 {
    margin: 2rem 1.5rem;
    color: teal;
}
 
#img_gallery, #intestazione {
    background: #333;
}

/* Footer */

#descrizioni {
    flex: 1;
}

#footer {
    background: rgba(45,61,185,1);
    background: -moz-linear-gradient(45deg, rgba(45,61,185,1) 0%, rgba(240,201,25,1) 34%, rgba(246,41,14,1) 64%, rgba(26,240,183,1) 96%, rgba(26,240,183,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(45,61,185,1)), color-stop(34%, rgba(240,201,25,1)), color-stop(64%, rgba(246,41,14,1)), color-stop(96%, rgba(26,240,183,1)), color-stop(100%, rgba(26,240,183,1)));
    background: -webkit-linear-gradient(45deg, rgba(45,61,185,1) 0%, rgba(240,201,25,1) 34%, rgba(246,41,14,1) 64%, rgba(26,240,183,1) 96%, rgba(26,240,183,1) 100%);
    background: -o-linear-gradient(45deg, rgba(45,61,185,1) 0%, rgba(240,201,25,1) 34%, rgba(246,41,14,1) 64%, rgba(26,240,183,1) 96%, rgba(26,240,183,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(45,61,185,1) 0%, rgba(240,201,25,1) 34%, rgba(246,41,14,1) 64%, rgba(26,240,183,1) 96%, rgba(26,240,183,1) 100%);
    background: linear-gradient(45deg, rgba(45,61,185,1) 0%, rgba(240,201,25,1) 34%, rgba(246,41,14,1) 64%, rgba(26,240,183,1) 96%, rgba(26,240,183,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d3db9', endColorstr='#1af0b7', GradientType=1 );
    padding: 30px 0;
    color: #000;
    text-align: center;
    margin-top: 1rem;
}
